<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Appenders>
        <File name="html" fileName="amazon4u.html" append="false">
            <HTMLLayout title="RickRolled"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="edu.hm.shareit" level="ALL" additivity="false ">
            <AppenderRef ref="html"/>
        </Logger>
    </Loggers>
</Configuration>